*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 85vh;
  background-color: #0c325a;
  position: relative;
}

.margin-box{
  padding: 2% 5%;
}

#back{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70%;
}
nav{
  display: inline-block;
}
nav ul > li{
  display: inline-block;
  margin-left: 20px;
}

a{
  text-decoration: none;
  color: white;
}

nav img:only-of-type{
  margin-right: 30px;
}




/* .motto{
  height: 10vh;
  background: lightgrey;

}

.row{
  position: relative;
  height: 50vh;
  background: green;
  border: 1px solid black;
}

.row::after{
  content: '';
  display: table;
  clear: both;
}

.contain{
  height: 80%;
  width: calc(100% / 3 - 6%);
  background: yellow;
  border:1px solid black;
  margin-top: 2%;
  float: left;
}

.contain:nth-child(2){
  margin:2% 3%;
}
.contain:first-child{
  margin-left: 5%;
}



.row > img{
  width: 40%;
  height: 90%;
  margin-left: 10%;
  background: red;
}

.level{
  width: 40%;
  height: 90%;
  float: left;
  margin-left: 5%;
  background:white;
}

footer{
  height: 10vh;
  background: grey;
} */
